@import 'tailwindcss/base';
@import 'tailwindcss/components';

@layer utilities {
    
    .zigzag {
      position: absolute;
      height: 10px;
      width: 100%;
    }

    .zigzag {
      position: absolute;
      width: 100%;
      /* Height set to clip correctly basically background-size/2 + line width */
      height: 10px;
    }
    
    .zig {
        background: linear-gradient(45deg, transparent, transparent 49%, #a1a1aa 49%, transparent 51%);
    }
    .zag {
        background: linear-gradient(-45deg, transparent, transparent 49%, #a1a1aa 49%, transparent 51%);
    }
    .zigzag {
        /* Must be after background definition. */
        background-size: 20px 20px;
    }

    

  

  .full-width {
		left: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
		max-width: 100vw;
		position: relative;
		right: 50%;
		width: 100vw;
		min-height: 236px;
		object-fit: cover;
	}

  img.full-width {
    max-height: 236px;
  }

	@screen md {
    .full-width {
      left: unset;
			margin-left: unset;
			margin-right: unset;
			max-width: unset;
			width: unset;
			right: unset;
			width: unset;
    }
		img.full-width {
			max-width: 280px;
		}	
	}

	@screen lg {
		img.full-width {
			max-width: 345px;
		}
	}
  
}


section a {
  word-wrap: break-word;
}


@import 'tailwindcss/utilities';


.privacy h3 {
  @apply text-xl;
  @apply my-2;
  @apply font-semibold;
}

.privacy p {
  @apply mb-2;
}

.prose h1 {
  @apply text-2xl
}